/* Write your CSS here */
.delete-button {
  background-color: transparent;
  border: none;
}
.delete-image {
  width: 20px;
}
.list-item {
  border-bottom: 1px solid #cbd5e1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.amount-container {
  width: 75%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.style {
  color: #7e858e;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 12px;
  padding-left: 20px;
}
