/* Write your CSS here */
.balance {
  background-color: #ecfccb;
  border: 1px solid #84cc16;
}
.income {
  background-color: #cffafe;
  border: 1px solid #06b6d4;
}
.expenses {
  background-color: #ede9fe;
  border: 1px solid #7c3aed;
}
.ulEl {
  padding-left: 0px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.list-item-balances {
  width: 100%;
  display: flex;
  border-radius: 10px;
  padding: 10px;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10px;
}
.image {
  width: 55px;
  margin-right: 0px;
}

.title-heading {
  color: #475569;
  font-family: 'Roboto';
  font-size: 10px;
  font-weight: 500;
}
.amount {
  color: #475569;
  font-size: 17px;
  font-weight: 500;
  font-family: 'Roboto';
}
@media screen and (min-width: 768px) {
  .list-item-balances {
    width: 30%;
  }
  .ulEl {
    flex-direction: row;
  }
}
